Notifier#post_notification

%p= "Hello #{@user.name},"
%p= "You are receiving this email because you are subscribed to the #{@project.name}project at Ativa."
%p For more information, click the link below:

%br
%p Thank you,
%p The Ativa team